/* FONTS */
@font-face {
    font-family: "AlteHaasGroteskBold";
    src: url(../fonts/AlteHaasGroteskBold.TTF);
}

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue.TTF);
}

/* GENERAL */

body {
	background-color:#67686C;
	font-family: "AlteHaasGroteskBold";
	max-width:100%;
	max-height:100%;
	margin: 0;
	padding: 0;
}

body .h2 .h3 {
	font-family: "BebasNeue";
}
#encabezado {
	width: auto;
	height: 220px;
	background: #3F3F41;
	max-height: 220px;
	top: 40px;

}
/* EVENTOS */

#timeline-lineas {
	position: absolute;
	top: 55px;
	width: 100%;
	left: -3px;
	
}

#timeline-lineas .timeline-eventos {
	width: 100%;
	min-height: 100px;
	background: url("../images/linea.png") repeat-x scroll 0 70px transparent;
}

#timeline-lineas .timeline-eventos span {
	margin-left: 15px;
	margin-top: 10px;
	position: relative;
}

#timeline-lineas .timeline-eventos .evento {
	background: url(../images/pines.png) no-repeat;
	width: 30px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	margin: 6;
		
	
}
/* Es absolute para no molestar al resto de la pagina y tiene index 1 para que sea lo unico y primero que se vea hasta desaparecer*/
#intro {
position:absolute;
left:0px;
top: 0px;
z-index:1;
}
/* Aca la imagen esta a 50% en top y left para que aparezca centrado, asi tambien se le resta la mitad del tamaño del logo para que la 
referencia a ubicar en top y left sea el punto medio, se le pone display none para que se pueda utilizar el fadeIn*/
#logo {
position:absolute;
z-index:2;
top: 50%;
left: 50%;
margin-top: -300px;
margin-left: -345px;
display: none;	
}

/* NAVEGADOR */

#navegador {
	position: absolute;
	float: left;
	width: 30%;
	top: 60px;
	left: 225px;

}

#navegador .buscar{
	width: 65px;
	height: 55px;
	float: left;
	margin-left: 5px;
}

#navegador input {
	float: left;
	font-size: 1.5em;
	height: 45px;
	width: 175px;
	text-align: center;
	margin-top: 7px;
	color: #70777d;
	margin-left: 15px;
}

/* FILTROS */

#filtros {
	margin-right: 15px;
	float: right;
	width: 12%;
	text-align: right;
}

#filtros .filtro {
	width: 50px;
	height: 50px;
	float: right;
	top: 80px;
	position: absolute;
	left: 94%;
}

#filtros, #timeline-comandos, #navegador {
	margin-top: 15px;
}

#filtros a:hover, #timeline-comandos a:hover, #navegador a:hover {
	text-shadow: #999 2px 2px;
}

#filtros-panel {
	background: url("../images/fondo-filtros.png") repeat scroll 0 0 transparent;
    border: 2px solid #EEEEEE;
    margin: 85px 0 0 10%;
    padding: 1%;
    width: 78%;
	clear: both;
}

#filtros-panel h2 {
	margin-top: 0px;
}

#filtros-panel .botones {
	text-align: center;
}


#filtros-panel input, #filtros-panel select {
	width: 300px;
}

#timeline-filtros .filtro {
	background: url("../images/fondo-odd.png") repeat scroll 0 0 transparent;
    border: 1px dashed;
    clear: both;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
    width: 99%;
}

#timeline-filtros .filtro p {
	float: left;
    margin: 0;
    padding: 0;
    width: 32%;
}

#timeline-filtros .filtro button {
	float: right;
}

/* COMANDOS */

#timeline-comandos {
	width: 30%;
	text-align: center;
	float: left;
	top: 65px;
	position: absolute;
	left: 35%;
}

#timeline-comandos a {
	color: #FFF;
	text-decoration: none;
}

#timeline-comandos .retroceder, .avanzar, .alejar, .acercar {
	width:50px;
	height:50px;
}

/* TIME LINE */

#timeline-scroll {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 50px;
	overflow: hidden;
}

#timeline-regla {
	position: relative;
	height: 100%;
	
}

#timeline-regla .periodo-odd, #timeline-scroll .periodo-even {
	min-height: 100%;
	float: left;
}



#timeline-regla .periodo-odd {
	background: url(../images/fondo-odd.png) repeat;
}

#timeline-regla .periodo-even {
	background: url(../images/fondo-even.png) repeat;		
}

#timeline-regla .periodo-titulo {
	opacity: 1;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

/* TOOLTIPS */

#timeline-tooltip {
	position:absolute;
	z-index:9999;
	width:200px;
	text-align:center;
	height: auto;
	border-radius:5px;
	font-size:11px;

	color:#727376;
	overflow:hidden;
	background-color:#727376;
}

#timeline-tooltip .tipHeader {
    clear: left;
    float: left;
    font-weight:bold;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 5px;
    width: 200px;
    background-color:#4B4B4D;
    color:#FFF;
    /* 38 caracteres de maximo para el titulo */
}


#timeline-tooltip .tipImage {
float:left;
width:100%;
height:auto;
max-height:200px;
overflow:hidden;

}

#timeline-tooltip .tipImage img {
max-width:100%;
margin: 0 auto;
}

#timeline-tooltip .tipBody {
    clear: both;
    float: left;
    font-size: 13px;
    color: white;
    margin: 7px;
}



/* POPUP */
 
#timeline-popup {
    min-height: 350px !important;
    max-height: 530px !important;
    overflow: auto;
    background-color:#727376;
    font-family: "AlteHaasGroteskBold";
}
 
#timeline-popup .popDate {
    color: white;
    float: right;
    font-style: italic;
}

#timeline-popup .popHeader {
    clear: left;
    font-weight:bold;
    font-size: 16px;
    margin-top: 5px;
    width: 200px;
    background-color:#4B4B4D;
    /* 38 caracteres de maximo para el titulo */
}

#timeline-popup .popImage {
width: 45%;
height: auto;
}

#timeline-popup .popImage img {
width: 100%;
float: left;
margin-right: 10px;
}

#timeline-popup .popBody {
    font-size: 16px;
    margin-top: 5px;
    color: white;
    text-align:justify;
}

#timeline-popup .popFooter {
    font-size: 10px;
    margin-top: 5px;
    text-align:justify;
    color: white;
}

/* Se trabaja con los componentes del popup para cargar eventos*/
#cargarEventos{
	overflow: auto;
	}

#cargarEventos .contender{
	height:100%;
	width: 100%;
}

#cargarEventos .Pop-Titulo{
	width:100%;
}

#cargarEventos .pop-descripcion {
	width: 100%;
	height: 200px;
}

#cargarEventos .agregarCategorias{
	width: 100%;
}

#cargarEventos .agregarPaises{
	width: 100%;
}
	
#botonCargar .subir{
	width:50px;
	height:50px;
	}

/* ACCESIBILIDAD */
#accesibilidad{bottom: 2px;right: 2px;float: right;position: absolute;}
#accesibilidad-content{display: none; }
#accesibilidad-content ul{list-style: none;}
#accesibilidad-icon{width: 32px;float: right;}
