
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, span, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, strong { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; text-decoration: none; vertical-align: baseline; }
:focus { outline: 0px; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a:hover { opacity: 1; }
html { height: 100%; font-size: 100%; }
* { margin: 0px; padding: 0px; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
textarea { float: none; margin-right: 0px; line-height: 1.5em; }
label { color: rgb(98, 98, 98); font-size: 1.4em; font-family: proxima_nova_semibold, 'Helvetica Neue', Arial, Helvetica, sans-serif; text-align: left; display: block; }
.form_help.active .button { border-bottom-width: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; -webkit-background-clip: padding-box; background: padding-box rgb(243, 243, 243); }
.form_help.active .help { display: block; }
textarea { max-width: 100%; font-size: 1em; height: 309px; }
*::-webkit-input-placeholder { -webkit-font-smoothing: antialiased; font-family: proxima_nova_semibold, 'Helvetica Neue', Arial, Helvetica, sans-serif; color: rgb(187, 187, 187) !important; }
textarea::-webkit-input-placeholder { font-size: 1.4em; font-family: proxima_nova_semibold, 'Helvetica Neue', Arial, Helvetica, sans-serif; line-height: 1.5em; }
#timeline .keys.active { background-position: 0px -44px; }
.teabot .teabot_controls .key.long.active { color: rgb(159, 159, 159); }
.teabot .teabot_controls .key.active { -webkit-box-shadow: none; box-shadow: none; background-color: rgb(224, 224, 224); }
.teabot .teabot_controls .key.active::before { opacity: 0.6; }
.overlay_controls.active { width: 513px; }
.responsive_container span.responsive.active { color: rgb(237, 17, 101); }
.responsive_container span.responsive.desktop.active { background-position: 0px -100px; }
.responsive_container span.responsive.tablet.active { background-position: 0px -300px; }
.responsive_container span.responsive.mobile.active { background-position: 0px -500px; }
* { -webkit-font-smoothing: antialiased; }
h1, h2, h3, h4 { font-family: proxima_nova_bold, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
h1 { font-size: 3.75em; color: rgb(73, 62, 69); display: block; letter-spacing: -0.01em; width: 100%; }
h1 span { font-family: proxima_nova_regular, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
h2 { color: rgb(73, 62, 69); font-size: 2.75em; letter-spacing: -0.01em; text-align: center; width: 100%; }
h3 { color: rgb(73, 62, 69); font-size: 1.875em; line-height: 0.975em; width: 100%; text-shadow: rgb(255, 255, 255) 0px 1px 0px; }
h4 { color: rgb(73, 62, 69); font-size: 1.45em; letter-spacing: -0.01em; width: 100%; }
h5 { color: rgb(73, 62, 69); font-size: 1.5em; letter-spacing: -0.01em; line-height: 1.5em; width: 100%; font-family: proxima_nova_bold, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
h5 span { font-family: proxima_nova_regular, 'Helvetica Neue', Arial, Helvetica, sans-serif; display: block; }
p { line-height: 1.625em; letter-spacing: 0.02em; margin-top: 30px; -webkit-font-smoothing: antialiased; text-shadow: rgb(255, 255, 255) 0px 1px 0px; font-size: 1.1em; }
p a { color: rgb(98, 98, 98); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(237, 17, 101); }
p a:hover { color: rgb(237, 17, 101); }
p.center { text-align: center; }
a[href^="tel"] { color: rgb(98, 98, 98); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(237, 17, 101); display: inline; }
html { height: 100%; overflow-x: hidden; }
body { width: 100%; font-size: 100%; font-family: proxima_nova_regular, 'Helvetica Neue', Arial, Helvetica, sans-serif; color: rgb(98, 98, 98); overflow-x: hidden; padding-bottom: 453px; }
body.menu_active #nav_dropdown { background-position: 0px -44px; }
.center { width: 100%; margin: 0px auto; max-width: 990px; }
header { position: fixed; height: 89px; display: block; padding: 0px 20px; left: 0px; right: 0px; -webkit-transform: translate3d(0px, 0px, 0px); overflow-y: hidden; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; z-index: 980; top: 0px !important; background: rgba(255, 255, 255, 0.972549); }
header .logo { display: block; width: 140px; height: 52px; float: left; margin-top: 20px; background: url(http://localhost/memoria/src/img/logo.png) 0px 0px / 138px 48px no-repeat; }
html.no-backgroundsize header .logo { background-image: url(http://localhost/memoria/src/img/logos/logo_ie.png); }
header #nav_dropdown { display: none; float: right; width: 44px; height: 44px; margin-top: 23px; background: url(http://localhost/memoria/src/img/buttons/menu.png) 0px 0px / 44px 88px no-repeat; }
header ul { float: right; height: 89px; }
header ul li { float: left; margin-left: 46px; }
header ul li a { text-decoration: none; display: block; line-height: 102px; height: 89px; font-family: proxima_nova_semibold, 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 100%; color: rgb(73, 62, 69); position: relative; }
header ul li a span { display: block; position: absolute; left: 0px; top: 32px; height: 1px; width: 100%; border-top-width: 3px; border-top-style: solid; border-top-color: rgb(237, 17, 101); opacity: 0; transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; }
header ul li a:hover > span { opacity: 1; }
header ul li a.active > span { opacity: 1; }
html.no-csstransitions header ul li a.active > span { border-top-width: 3px; border-top-style: solid; border-top-color: rgb(237, 17, 101); }